#backdrop {
    padding: 50px;
    margin: 10px;
    width: 150vw;
    height: 200vh;
    background: linear-gradient(-45deg, #00ffff, #008cff, #00ccff, #2500f5);
    background-size: 400% 400%;
    position: relative;
    color: #fff;
    animation: change 10s ease-in-out infinite;
    border-radius: 10px;
    text-align: center;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
  }
  #head {
    position: relative;
    margin: 10px;
    padding: 20px;
    background: none;
    box-shadow: inset 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  #forecast {
    float: left;
  }
  #sun-icon {
    text-shadow: 4px 3px 6px yellow;
  }
  #main-temperature {
    color: rgba(192, 169, 255, 0.884);
    font-size: 30px;
  }
  #city {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bolder;
    color: rgba(108, 97, 211, 0.74);
  }
  #search-bar {
    position: relative;
    background: none;
    border: none;
    background: none;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  #search-bar::placeholder {
    padding-left: 10px;
    text-align: left;
    font-size: 10px;
    color: rgba(255, 255, 255);
  }
  #search-bar:hover {
    background-color: rgba(250, 116, 228, 0.425);
    cursor: pointer;
    box-shadow: inset 3px 4px 9px rgba(255, 23, 197, 0.397);
  }
  .search-button {
    position: relative;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 10px;
    background: none;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  .search-button:hover {
    background-color: rgba(250, 116, 228, 0.425);
    cursor: pointer;
    box-shadow: inset 3px 4px 9px rgba(255, 23, 197, 0.397);
  }
  .search-button::placeholder {
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255);
  }
  button {
    position: relative;
    margin-top: 10px;
    padding: 2px;
    background: none;
    border-radius: 10px;
    border: none;
    text-shadow: 3px 3px 5px black;
    font-size: 13px;
    box-shadow: inset 1px 1px 3px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  button:hover {
    background-color: rgba(250, 116, 228, 0.425);
    cursor: pointer;
    box-shadow: inset 3px 4px 9px rgba(255, 23, 197, 0.397);
  }
  .current-date {
    line-height: 15px;
    text-align: right;
    font-size: 11px;
    color: rgba(255, 255, 255);
  }
  .current-year {
    line-height: 15px;
    text-align: right;
    font-size: 11px;
    color: rgba(255, 255, 255);
  }
  .slogan {
    line-height: 8px;
    text-align: right;
    font-size: 8px;
    color: rgba(255, 255, 255);
  }
  .temperature {
    color: rgba(255, 255, 255);
  }
  .main-data-1 {
    float: left;
    width: 130px;
    padding: 20px;
    font-size: 12px;
    background: none;
    box-shadow: inset 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  .main-data-2 {
    float: left;
    margin-top: 30px;
    width: 180px;
    padding: 22px;
    font-size: 14px;
    background: none;
    box-shadow: inset 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  .main-data-3 {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    padding: 18px;
    font-size: 16px;
    background: none;
    box-shadow: inset 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  #week-data {
    line-height: 5px;
    background: none;
    box-shadow: inset 2px 2px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
  }
  #week-data:hover {
    background-color: rgba(127, 255, 212, 0.24);
    cursor: pointer;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.103);
  }
  #celcius,
  #farenheit {
    text-decoration: none;
    font-size: 12px;
    padding: 2px;
    color: rgba(108, 97, 211, 0.74);
  }
  footer {
    font-size: 10px;
    font-weight: lighter;
  }
  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  